.wrapper {
  display: flex;
  align-items: flex-start;
  gap: 50px;
  padding: 50px;
  background-color: #f8f9fa;
}

@media (max-width: 768px) {
  .wrapper {
    flex-direction: column;
    align-items: center;
  }
}
/* 
.content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
  width: 300px;
  flex-shrink: 0;
  position: sticky;
  top: 50px;
}

@media (max-width: 768px) {
  .content {
    width: 100%;
    position: static;
  }
} */

.contactContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
  flex-grow: 1;
  width: 100%;
  max-width: 100%;
}
