.form {
  max-width: 300px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 0 auto;
}

.form label {
  display: block;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 8px;
  color: #072b4a;
}

.form .error {
  color: #e53935;
  font-size: 12px;
  margin-top: -10px;
  margin-bottom: 15px;
}

.form input {
  min-width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  margin-bottom: 15px;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
}

.form input:focus,
.form input:hover {
  border-color: #007acc;
  outline: none;
}

.form button {
  background-color: #3399ff;
  color: white;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  min-width: 200px;
  margin: 0 auto;
}

.form button:hover,
.form button:focus {
  background-color: #007acc;
}
