p {
  margin: 0;
}


.info {
  display: flex;
  flex-direction: column;
  gap: 4px;
  color: #333;
  font-size: 14px;
}

.button {
  background-color: #3399ff;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.button:hover {
  background-color: #007acc;
}
