#root {
  min-width: 500px;
  margin: 0 auto;
  padding: 2rem;
}

.wrapper {
  display: flex;
  align-items: flex-start;
  gap: 50px;
  padding: 50px;
}

@media (max-width: 768px) {
  .wrapper {
    flex-direction: column;
    align-items: center;
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
  width: 300px;
  flex-shrink: 0;
  position: sticky;
  top: 50px;
}

@media (max-width: 768px) {
  .content {
    width: 100%;
    position: static;
  }
}

.title {
  text-align: center;
  font-size: 36px;
  padding-top: 30px;
  margin: 0;
  color: #015fa3;
}

.contactContent {
  flex-grow: 1;
  width: 100%;
  max-width: 100%;
}
