.container {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 16px;
  padding: 0;
  margin: 0 auto;
  justify-content: flex-start;
}

@media only screen and (max-width: 768px) {
  .container {
    justify-content: center;
    min-width: unset;
  }
}

.item {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 24px;
  min-width: 250px;
  padding: 15px;
  border-radius: 3px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(34, 56, 67, 0.05);
  transition: box-shadow 0.3s ease;
  position: relative;
}

@media only screen and (min-width: 768px) {
  .item {
    min-width: 300px;
    padding: 15px 25px;
  }
}

.item:hover {
  border-color: #abc4ff;
  box-shadow: 0 0 0 2px rgba(94, 116, 246, 0.2);
}

.item::before {
  content: "";
  position: absolute;
  width: 3px;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #abb8ce;
  transition: width 0.3s ease;
}

.item:hover::before {
  background-color: #abc4ff;
}

.noContacts {
  padding: 1rem;
  font-size: 1.1rem;
  color: #4c6085;
  text-align: center;
}
